<tr>
      <th scope="row"> <%= kitten.id %> </th>
      <td><%= kitten.name %></td>
      <td><%= kitten.age %></td>
      <td><%= kitten.cuteness %></td>
      <td><%= kitten.softness %></td>
      <td>
            <%= link_to 'Show', kittens_show_path(kitten), class: "mr-2" %>
            <%= link_to 'Edit', edit_kittens_path(kitten), class: "mr-2 text-info" %>
            <%= link_to 'Delete', kittens_path(kitten), method: :delete, data: {confirm: "Are you sure?"}, class: "mr-2 text-danger" %>
      </td>

</tr>
    